<div class="header">
        <h1>Bienvenue</h1>
        <p>chez votre cantinière</p>
        <div class="user">
                <i class="fa fa-shopping-basket"></i> 10€
                <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> Allan <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                   <li><a href="#" title="Lien 1">Mon compte</a></li>
                                   <li><a href="#" title="Lien 2">Mes commandes</a></li>
                                   <li role="separator" class="divider"></li>
                                   <li><a href="#" title="Lien 3">Déconnexion</a></li>
                                </ul>
                </div>
        </div>

</div>
