<div class="header">
	<h1>Bienvenue</h1>
	<p>chez votre cantinière</p>
	<div class="user">
		<i *ngIf="isConnected()" class="fa fa-shopping-basket mr-1" [routerLink]="['/cart']"></i>
		<i *ngIf="isConnected()" class="">{{userInfo?.wallet}}€</i> 
		<div class="btn-group">
			<button *ngIf="isConnected()" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-user"></i> {{userInfo?.name}} <span class="caret"></span>
			</button>
			<button *ngIf="!isConnected()" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-user"></i> <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a [routerLink]="['/login']">Mon compte</a></li>
				<li><a (click)="orders()">Mes commandes</a></li>
				<li role="separator" class="divider"></li>
				<ng-container *ngIf="isConnected()">
					<li><a (click)="logOut()">Déconnexion</a></li>
				</ng-container>
				<ng-container *ngIf="!isConnected()">
					<li><a (click)="logIn()">Connexion</a></li>
				</ng-container>
			</ul>
		</div>
	</div>
</div>
