<h2>Les commandes</h2>

<div class="container">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col" ><span class="fa fa-calendar"></span> Date</th>
      <th scope="col"><span class="fa fa-lemon-o"></span> Plats+Détails</th>
      <th scope="col"><span class="fa fa-euro"></span> Prix</th>
      <th scope="col"><span class="fa fa-list-ol"></span> &#8470; commande</th>
    </tr>
    </thead>
    <tbody *ngFor="let order of orders">
    <tr *ngIf="order.menu !== undefined" [routerLink]="['/detailCommande/'+order.id]">
      <td scope="row">{{order.creationDate | date }}</td>
      <td>{{order.menu.label}}</td>
      <td>{{order.menu.priceDF}} €</td>
      <td>{{order.id}}</td>
    </tr>

    <tr *ngIf="order.quantityMeals !== undefined" [routerLink]="['/detailCommande/'+order.id]">
      <ng-container>
      <td scope="row">{{order.creationDate | date }}</td>
        <ng-container>
      <td>
        <p *ngFor="let meal of order.quantityMeals">{{meal.meal.label}}</p>
      </td>
      <td>
        <p *ngFor="let meal of order.quantityMeals">{{meal.meal.priceDF}} €</p>
      </td>
        </ng-container>

      <td>{{order.id}}</td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>
