.container{
  margin-left: 200px;
}

h2, h3{
  text-align: center;
}

.table{
  width: 95%;
}

th{
  text-align: center;
  color: #FFC107;
  font-weight: bold;
}

td{
  text-align: center;
}

button{
  border-radius: 10px;
}
