<div class="jumbotron jumbotron-fluid" *ngIf="userInfo !== undefined">
    <h3 class="w-100 ml-3">Bonjour {{userInfo.user.firstname}} {{userInfo.user.name}}</h3>
    <p class="ml-3">Bienvenue !</p>
    <button class="btn btn-dark ml-3" (click)="logout()">Se déconnecter</button>
  </div>
  <div class="jumbotron jumbotron-fluid" *ngIf="userInfo === undefined">
    <p class="">Bienvenue !</p>
    <button class="btn btn-dark" (click)="login()">Se connecter</button>
    <button class="btn btn-dark ml-4" (click)="register()">Créer un compte</button>
  </div>
  
  <div class="container">
  
    <div class="row">
      <div class="col-12 mt-4">
        <h3 class="text-center">-- Les différents utlisateurs --</h3>
        <hr class="accent my-5">
      </div>

      <table>
        <colgroup>
         <col>
         <col style="background-color: yellow">
       </colgroup>
       <tr>
         <th>Nombre</th>
         <th>Nom</th>
         <th>Prénom</th>
         <th>Email</th>
         <th>Numéro</th>
         <th>Adresse</th>
         <th>Portefeuille</th>
         <th>Action</th>
       </tr>
       <tr *ngFor="let user of findAll">
         <td>{{user.id}}</td>
         <td>{{user.name}}</td>
         <td>{{user.firstname}}</td>
         <td>{{user.email}}</td>
         <td>{{user.phone}}</td>
         <td>{{user.adress}}</td>
         <td>{{user.wallet}}€ <button class="btn btn-success">Créditer</button></td>
         <td><button class="btn btn-danger">Supprimer</button></td>

       </tr>
     </table>


    </div>
  </div>