<div class="container">
        <div class="row">
            <div class="col-12 mt-4">
                <h3 class="text-center">Les boissons</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
                <div class="card card-body">
                    <button class="float-right font-weight-bold">1€</button>
                    <h6 class="text-truncate">Coca Cola</h6>
                    <img src="../image/coca.jpg" alt="">
                </div>
                <div class="card card-body">
                    <button class="float-right font-weight-bold">1€</button>
                    <h6 class="text-truncate">Fanta</h6>
                    <img src="../image/fanta.png" alt="">
                </div>
                <div class="card card-body">
                    <button class="float-right font-weight-bold">1€</button>
                    <h6 class="text-truncate">Oasis</h6>
                    <img src="../image/oasis.png" alt="">
                </div>
                <div class="card card-body">
                    <button class="float-right font-weight-bold">1€</button>
                    <h6 class="text-truncate">Lipton</h6>
                    <img src="../image/lipton.png" alt="">
                </div>
            </div>          
            <div class="col-12 mt-5 border border-right-0 border-left-0">
            </div>
        </div>
    </div>