<div class="container">
  <div class="row d-flex justify-content-between">


  </div>
</div>


<ul>
  <li> <a [routerLink]="['/platDuJour']" routerLinkActive="router-link-active">Plat du Jour</a></li>
  <li> <a [routerLink]="['/entree']" routerLinkActive="router-link-active">Entrée</a></li>
  <li> <a [routerLink]="['/plat']" routerLinkActive="router-link-active">Plats</a></li>
  <li> <a [routerLink]="['/dessert']" routerLinkActive="router-link-active">Desserts</a></li>
  <li> <a [routerLink]="['/boisson']" routerLinkActive="router-link-active">Boissons</a></li>
</ul>


