<div class="container">
    <div class="row">
      <div class="col-12 mt-4">
        <h3 class="text-center">-- Détail du plat --</h3>
        <hr class="accent my-5">
      </div>
      <div class="col-6 mx-auto menu-card">
        <div class="card card-body text-center mb-2 ml-2">
          <h5 class="text-uppercase" >{{meal?.label}}</h5>
          <!-- <h6>{{menu.value.label}}</h6> -->
          <div class="img-container">
            <img src="http://localhost:8080/lunchtime/{{meal?.image}}" alt="" />
          </div>
          <p class="small"> Description </p>
          <button class="float-right font-weight-bold btn-success" disabled>{{meal?.priceDF}} €</button>
        </div>
      </div>

      <div class="col-6 mx-auto menu-card">
        <div class="card card-body text-center mb-2 ml-2">
          <h5 class="text-uppercase" >Ingredients</h5>
          <ng-container *ngFor="let ingredient of ingredients">
            <div class="ingredient-img-container">
                <img src="http://localhost:8080/lunchtime/{{ingredient?.image}}" alt="" />
            </div>
            <p class="small"> {{ingredient?.label}} </p>
        </ng-container>
        </div>
      </div>
      <button class="font-weight-bold btn-success btn-block ml-2 mb-3 mt-3 fa fa-shopping-cart" (click)="addToCart()"> Ajouter au panier</button>
    </div>
</div>

  <!-- Modal -->

  <div class="modal" [style.display]="confirmedModal ? 'block' : 'none'">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h4 class="modal-title">Confirmation</h4>
          <button type="button" class="close" data-dismiss="modal" (click) = "closeModal()">&times;</button>
        </div>
        
        <div class="modal-body">
         <p>Ce plat a été ajouté dans votre panier</p>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click) = "closeModal()">OK</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal" (click) = "cart()">Voir panier</button>
        </div>
        
      </div>
    </div>
  </div>