<div class="container">
        <div class="row">
            <div class="col-12 mt-4">
                <h3 class="text-center">Nos plats</h3>
                <hr class="accent my-5">
            </div>
            <div class="card-columns">
                <div class="card card-body">
                    <button class="float-right font-weight-bold">$10</button>
                    <h6 class="text-truncate">Chocolate Martini</h6>
                    <p class="small">Tito's Vodka and White Créme de Cacao dusted with hand shaved chocolate.</p>
                </div>
                <div class="card card-body">
                    <button class="float-right font-weight-bold">$9</button>
                    <h6 class="text-truncate">Summer Breeze Martini</h6>
                    <p class="small">Hendrick’s Gin, St. Germain Elderflower Liqueur and Brancot Sauvignon Blanc with a floater of Cristalino Cava Brut.</p>
                </div>
                <div class="card card-body">
                    <button class="float-right font-weight-bold">$9</button>
                    <h6 class="text-truncate">Sweet Heat Margarita</h6>
                    <p class="small">Jalapeño infused tequila, triple sec, pineapple juice, lime.</p>
                </div>
                <div class="card card-body">
                    <button class="float-right font-weight-bold">$10</button>
                    <h6 class="text-truncate">Prickly Pear</h6>
                    <p class="small">New Amsterdam Vodka and Pear liquer in a sugar rimmed glass.</p>
                </div>
                <div class="card card-body">
                    <button class="float-right font-weight-bold">$9</button>
                    <h6>Classic Martini</h6>
                    <p class="small">Seagrams Gin, Dry Vermouth, pickle juice, olive juice.</p>
                </div>
                <div class="card card-body">
                    <button class="float-right font-weight-bold">$10</button>
                    <h6 class="text-truncate">Ruby Red Rosemary Refresher</h6>
                    <p class="small">House infused rosemary vodka, St. Germaine Elderflower liqueur, grapefruit juice and a splash of soda.</p>
                </div>
            </div>
            <div class="col-12 mt-5 border border-right-0 border-left-0">
            </div>
        </div>
    </div>