<div class="jumbotron jumbotron-fluid" *ngIf="userInfo !== undefined">
  <h3 class="w-100">Bonjour {{userInfo.user.firstname}} {{userInfo.user.name}}</h3>
  <p class="">Bienvenue !</p>
  <button class="btn btn-dark ml-3" (click)="logout()">Se déconnecter</button>
</div>
<div class="jumbotron jumbotron-fluid" *ngIf="userInfo === undefined">
  <p class="">Bienvenue !</p>
  <button class="btn btn-dark" (click)="login()">Se connecter</button>
  <button class="btn btn-dark ml-4" (click)="register()">Se connecter</button>
</div>

<div class="container">
  <div *ngFor="let plat of todayMeal" class="d-flex align-content-center p-1">
    <div class="ml-5">
      {{plat.label}}
    </div>
    <div class="ml-3">
      <img src="http://localhost:8080/lunchtime/{{plat.image}}" />
    </div>
    <button class="w-25 h-25 ml-1">Prix: {{plat.priceDF}}</button>
  </div>

</div>
