<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="col-md-6 offset-md-1 mt-2">
        <div class="alert alert-info text-center">
          Réinitialiser mon mot de passe
        </div>
        <div class="card mb-2">
          <h5 class="card-header text-center">RÉINITIALISATION</h5>
          <div class="card-body">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" [(ngModel)]="email" name="email" class="form-control" aria-describedby="emailHelp">
            </div>
            <button  class="btn btn-primary" type="" (click)="openModal()">Réinitialiser</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->

<div class="modal" [style.display]="confirmedModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h4 class="modal-title">Réinitialisation de mot de passe</h4>
        <button type="button" class="close" data-dismiss="modal" (click) = "closeModal()">&times;</button>
      </div>
      
      <ng-container *ngIf="hasError">
        <div class="modal-body">
          <p>Erreur, cet e-mail n'existe pas</p>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click) = "closeModal(true)">OK</button>
        </div>
      </ng-container>
      <ng-container *ngIf="!hasError">
        <div class="modal-body">
          <p>Votre mot de passe a été réinitialisé, veillez consulter votre boite e-mail</p>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click) = "closeModal(false)">OK</button>
        </div>
      </ng-container>
      
    </div>
  </div>
</div>